<div class="area-body">
    <div class="currency-row">
        <label>FX rates {{date.toDateString()}}</label>
        <div class="currency-row_frame"> 
            <div class="cr-eur_flag"></div>
            <input type="number" ng-model="currencyList.EUR.cnt" size="6" min="0" max="999999" maxlength="6"  > 
            EUR-{{ calculate('EUR')}} CZK
        </div>
        <div class="currency-row_frame"> 
            <div class="cr-usd_flag"></div>
            <input type="number" ng-model="currencyList.USD.cnt" size="6" min="0" max="999999" maxlength="6"  > 
            USD-{{ calculate('USD')}} CZK
        </div>
        <div class="currency-row_frame"> 
            <div class="cr-gbp_flag"></div>
            <input type="number" ng-model="currencyList.GBP.cnt" size="6" min="0" max="999999" maxlength="6"  > 
            GBP-{{ calculate('GBP')}} CZK
        </div>
      
    </div>    
</div>