    
    .container{
        width: 100%;
        display: flex; flex-direction: column; align-items: center; justify-content: center;
        
    }
    .header{
        min-width: var(--min-width-area); 
        display: flex; 
        flex-direction: row;
        border-bottom:2px solid var(--border-color)  ;
        justify-content: space-between;
    }
    
    .header__logo{
        background-image: url('../images/LOGO-2RA_RGB.svg');
        width: 20%; 
        height: 100px;
        background-repeat: no-repeat;
      }
   
      
.header__menu {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
       
  }
  .header__menu li {display: inline-block;}
  .header__menu li:after {
    content: "|";
    color: var(--li-color);
    display: inline-block;
    vertical-align:top;
  }
  .header__menu li:last-child:after {content: none;}
  .header__menu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .header__menu a, .header__menu a:visited {color:var(--li-color);}
  .header__menu a.current, .header__menu a:hover{color:var(--li-hover-color) }
  .header__menu a:before,
  .header__menu a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: var(--li-hover-color);
    transition: .8s;
  }
  .header__menu a:hover:before, .header__menu .current:before {left: 0;}
  .header__menu a:hover:after, .header__menu .current:after {right: 0;}   
  
  .header__menu_selected{
    color: var(--li-hover-color)  !important;
  } 

  @media (max-width: 550px) {
  .header__menu {padding-top: 0;}
  .header__menu li {display: block;}
  .header__menu li:after {content: none;}
  .header__menu a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }


