
:root { 
  --border-color:#9d999d;
  --li-color:#606060;
  /* --li-hover-color:#f03818; */
  --li-hover-color:#16375f;
  --min-width-area:1000px;
  --border-top-color-sticky-panel:#F15B24;
  --sticky-panel-input-box-btn_bg:#DADAEA;
  --text-color:#404646;
  --sticky-panel-input-box-border:#404646;
  --sticky-panel-btn-reg-bg:#4682CA;
  --sticky-panel-btn-account-bg:#404646;
  --border-radius:2px;
  --btn-text-size:18px;
      }
  

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    
}
.area-head{
    min-width: var(--min-width-area); 
    display: flex; 
    flex-direction: row;
    border-bottom:2px solid var(--border-color)  ;
}

.area-head_logo{
    background-image: url('https://www.cnb.cz/export/system/modules/cz.nelasoft.opencms.cnb/resources/img/LOGO-2RA_RGB.svg');
    width: 20%; 
    height: 100px;
    background-repeat: no-repeat;
  }

.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;    
  }
  .menu-main li {display: inline-block;}
  .menu-main li:after {
    content: "|";
    color: var(--li-color);
    display: inline-block;
    vertical-align:top;
  }
  .menu-main li:last-child:after {content: none;}
  .menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main a, .menu-main a:visited {color:var(--li-color);}
  .menu-main a.current, .menu-main a:hover{color:var(--li-hover-color) }
  .menu-main a:before,
  .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: var(--li-hover-color);
    transition: .8s;
  }
  .menu-main a:hover:before, .menu-main .current:before {left: 0;}
  .menu-main a:hover:after, .menu-main .current:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main {padding-top: 0;}
  .menu-main li {display: block;}
  .menu-main li:after {content: none;}
  .menu-main a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }

  .area-body{
    min-width: var(--min-width-area); 
  }

  .currency-row{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cb-header{
    width: 100%;
    margin-bottom: 5px;
    height: 45px;
    border-bottom: 1px solid #2526a9;

  }

  .cb-table {
    color: #2526a9;
    width: 100%;
    margin-bottom: 20px;
    white-space: nowrap;
    text-align: center;
  }
  .cb-table-col_left {
    text-align: left;
  }
  .cb-table-col_centr {
    text-align: center;
  }
  .cb-table-col_right {
    text-align: right;
  } 

  table td {
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 300;
  }

  table th {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }